.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header { 
  color: black;
}

.NavBar-link { 
    font-size: 18px;
    /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 3px solid rgba(0, 0, 0, 0.2); 
    padding-bottom: 10px; */
}

.NavBar { 
  font-size: 18px;
  /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

h1 { 
  font-weight: 700;
  color: rgb(139, 139, 116);
  background-color: black;
  margin: 100px 50px 30px 50px;

}

h2 { 
  font-family: monospace;
  color: rgba(44, 44, 91, 0.6970.2);
  font-size: xx-large;
}
.header { 
  font-size: 20px;
  background-color: green; 
}
.home{ 
  font-family: 'Righteous';
  font-weight: bolder;
  font-size: 70px;
}
.paragraph { 
  font-family: 'Righteous';
  font-size: 30px
  
}
a { 
  padding-left: 10px;
}

.myresults { 
  background-color: black;
  opacity: 0.8;
  color: white;
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: xx-large;
}
.allresults { 
  background-color: orange;
  opacity: 0.9;
  color:  blue;
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: xx-large;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: sans-serif;
  background-color: white;
  ;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden { 
  display: none; 
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.ninja-logo { 
  width: 75%;
}

ul {
  list-style: none;
  color: rgb(84, 177, 84);
  font-weight: bolder;
  font-size: x-large;
}

.paragraph { 
  background-color: rgb(42, 138, 42);
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
}

.img { 
  margin-bottom: 100px;
}
